.button-container-left{
  width: 100%;
  text-align: right;
}

.fill-container{
  width: 80%;
}
.mat-elevation-z8{
  width: 100%;
}
td , th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}

.img-container{
  text-align: center;
}

img {
  position: absolute;
  top: 140px;
  left: 60px;
  width: 80%;


}


.main-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;

}
.container mat-spinner{
  margin: auto;
}

.primary-card{
  margin: 4rem auto;
  width: 600px;
  height: 500px;

}

.card-header{
  background: indigo;
  margin-top: -2.5rem !important;
  margin-bottom: 1rem;
  color: white;
}

.left-container{
  display: flex;
    /*margin: 0 2rem 0 4rem;*/

}

.right-container{
  /*margin: 0 4rem 0 2rem;*/
  display: flex;

}

.add-height-selector{
  margin-top: 1rem;
}

.add-height-button{
  margin-top: 2.5rem;
}
.new-query-button{
  /*position: absolute;*/
  /*top: 430px;*/
  /*left: 230px;*/
}
